@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap');

:root {
    font-family: "Manrope", sans-serif;

    --primary-color: #3155c7;
    --primary-hover: #2848ad;


    --background-color: #f5f7fb;
    --white: #ffffff;

    --text-color: #333333;
    --text-secondary: #666666;
    --text-light: #999999;

    --border-color: #e5e7eb;

    --card-blue: #4c6edb;
    --card-green: #50b982;
    --card-red: #d9574c;
    --card-cyan: #55aebe;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    min-width: 320px;
    min-height: 100vh;

    color: var(--text-color);
    background-color: var(--background-color);
}